* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(226,226,226); 

}

.corpo {
    background-color: rgb(226,226,226); 
}
.brand {
    font-size: 1.5rem;
    margin: .5rem;
}
.kiai-main {
        background-color: rgb(226,226,226);
}

.kiai-title {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #C61F31;
    letter-spacing: 1px;
    
}


.kiai-main p {
    margin: 3%;
    padding: 0;
    letter-spacing: 1px;
}
.logo {
    width: 20%;
    height: 20%;
    margin-top: 1%;
    display: block;
    margin-left: 10%;
    margin-right: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
    color: rgb(226,226,226);
}
.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(226,226,226);
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #C61F31;
    color: rgb(226,226,226);
    font-weight: bold;
}

.oss {
    font-weight: 1000;
    font-size: 1.2rem;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;   
}
.sep {
    display: block;
    height: 1px;
    background-color: black;
    color: black;
    margin: 0;
    padding: 0%;
    border: black;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(226,226,226);
    border-radius: 10px;
}

.underline {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 0;
    border-top: 1px solid  #C61F31;
}
.wrap {
    
       
}

.wrap p {
    margin-left: 0;
}
@media (max-width: 400px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }
    .nav-links.active {
        display:flex !important; 
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
       padding: .5rem 1rem;
      
    }
    .logo {
        width: 35%;
        height: 35%;
    }

}