* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.brand {
    font-size: 1.5rem;
    margin: .5rem;
}

.bg{
    background-image: url('../imagens/wp2882473.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 92vh;
}
.button-choice {
    display: flex;
    align-self: end;
    justify-content: space-between;
    width: 20%;
    margin-left: 3%;
}
.button-choice a {
    text-decoration: none;
    color: white;
   
   
}
.matricula {
    border: none;
    background-color: #C61F31;
    height: 3rem;
    width: 40%;   
}

.saibamais {
    border: none;
    background-color: #333;
    height: 3rem;
    width: 40%;
    border: white solid 3px;
}


.chamada h1 { 
    font-size: 3.4rem;
    padding-left: 2%;
    margin: 0%;
}
.chamada h2 { 
    font-size: 2rem;
    padding-left: 2%;
    margin: 0%;
    margin-top: 1%;
    color: #C61F31;
}


.kiai-main {
    /*carregar imagem
    background-image: url('../imagens/34982.jpg');
    height: 100%;
    background-repeat: no-repeat;
    */
}

.kiai-title {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #C61F31;
    letter-spacing: 1px;
    
}


.kiai-main p {
    margin: 3%;
    margin-bottom: 0%;
    margin-top: 1%;
    padding: 0;
    letter-spacing: 1px;
}
.logo {
    width: 20%;
    height: 20%;
    margin-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background-color: #333;
    color: rgb(226,226,226);
}
.nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color:rgb(226,226,226);
    padding: 1rem;
    display: block;
}

.nav-links li:hover {
    background-color: #C61F31;
    color: rgb(226,226,226);
    font-weight: bold;
    min-height: 8vh;
      
}



.oss {
    font-weight: 1000;
    font-size: 1.2rem;
}

.toggle-button {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;   
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(226,226,226);
    border-radius: 10px;
}

.underline {
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0.5%;
    margin-bottom: 0;
    border-top: 1px solid  #C61F31;
}

@media (max-width: 400px) {

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;
    }
    .nav-links.active {
        display:flex !important; 
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
    }
    .nav-links ul li {
        text-align: center;
    }

    .nav-links ul li a {
       padding: .5rem 1rem;
      
    }
    .logo {
        width: 35%;
        height: 35%;
    }

}